@media screen(xxl) {
  .contact-form-body {
    width: 994px !important;
  }

  .contact-form-body input,
  textarea {
    width: 650px;
  }

  .contact-form-body label {
    white-space: pre;
  }
}

@media screen(md) {
  .contact-form-body {
    width: 600px;
  }
}
