@media screen(xl) {
  .featuring .feature-item {
    margin: unset !important;
  }

  .featuring .feature-item {
    width: 230px;
    margin: auto;
  }

  .featuring .feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
