@import "../../variables.module.scss";

.card-description {
  background-color: $background-light-color;

  &.background-card-primary {
    background-color: $card-background-primary;
  }

  .card-description-label {
    min-width: 100px;
    background-color: $primary-light-color;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;

    p {
      color: $text-secondary-color;
    }
  }

  .card-description-content {
    line-height: 27px;
    white-space: pre-wrap;
  }

  &.small {
    .card-description-label {
      min-height: 75px;
    }
  }
}
