@import "../../variables.module.scss";

.card-description {
  background-color: $background-light-color;

  &.background-card-primary {
    background-color: $card-background-primary;
  }

  .card-description-label {
    width: 100px;
    background-color: $primary-light-color;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    p {
      color: $text-secondary-color;
      white-space: pre-wrap;
      padding: 4px;
    }
  }

  .card-description-content {
    white-space: pre-wrap;
  }

  &.small {
    .card-description-label {
      min-height: 50px;
    }
  }
}
