@media screen(md) {
  .footer-background {
    width: 100%;
    height: 400px !important;
    min-height: 400px !important;
    aspect-ratio: unset;
  }

  .footer-container .background-section-container > div {
    background: linear-gradient(
      180deg,
      #f2f2f2 14.06%,
      rgba(206, 236, 245, 0.6) 100%
    );
  }

  .footer-container .link-btn {
    width: 300px;
    max-width: 250px;
  }

  .footer-background-container {
    min-height: 400px !important;
  }

  .footer .footer-logo {
    width: 200px !important;
    height: 38.898px !important;
  }
}

@media screen(xxl) {
  .footer-background {
    width: 100%;
    height: 500px !important;
    aspect-ratio: unset;
  }

  .footer-background img {
    object-position: bottom !important;
  }

  .footer-container .background-section-container > div {
    background: linear-gradient(
      180deg,
      #fffefe 1.2%,
      #ffffffd9 22.2%,
      rgb(227 227 227 / 0%) 100%
    );
  }

  .footer-container .link-btn {
    width: 329px;
    max-width: 329px;
  }

  .footer-background-container {
    min-height: 500px !important;
  }

  .footer .footer-logo {
    width: 210px !important;
    height: 40.843px !important;
  }
}
