@media screen(xl) {
  .project-list-carousel {
    margin: 0 220px;
  }

  .project-list-carousel-naviate-btn.left {
    left: 135px !important;
  }

  .project-list-carousel-naviate-btn.right {
    right: 135px !important;
  }

  .project-card-container {
    width: 100% !important;
    /* margin: auto; */
  }
}
