@media screen(xxl) {
  .project-list-carousel-container .project-list-carousel {
    margin: 0 220px;
  }

  .project-list-carousel-container .project-list-carousel-naviate-btn.left {
    left: 135px !important;
  }

  .project-list-carousel-container .project-list-carousel-naviate-btn.right {
    right: 135px !important;
  }

  .project-list-carousel-container .project-card-container {
    width: 100% !important;
    /* margin: auto; */
  }

  .project-list-carousel-container .slick-slide > div > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .project-list-carousel-container .slick-list {
    margin: 0 -24px;
  }

  .project-list-carousel-container .slick-slide > div {
    padding: 0 24px;
  }
}
