@import "../../variables.module.scss";

.section-title-container {
  .subtitle {
    color: rgba($primary-color, 10%);
    text-transform: uppercase;
    transform: translate(0, 35px);
  }

  &.position-right {
    align-items: flex-end;

    p {
      text-align: right;
    }
  }

  .title > div {
    // transform: translate(0, -45%);
    top: 55px !important;
    // transform: translate(0, -35px);
  }

  .title > div p {
    text-align: left !important;
  }

  // .title
}
