@import "../../variables.module.scss";

.floating-buttons {
  a {
    border: none;
    height: 60px;
    padding: 7px 0;
  }

  display: flex;
  align-items: center;

  .email-button {
    .btn-icon {
      width: 35px;
      height: 21.435px;
      flex-shrink: 0;
    }
    background-color: $primary-color;
  }

  .document-button {
    .btn-icon {
      width: 20px;
      height: 27.143px;
      flex-shrink: 0;
    }
    background-color: $secondary-color;
  }
}

.scroll-to-top-buttons {
  img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  border-color: transparent;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;

  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -100%);
  visibility: hidden;
  transition: 0.5s;

  &.visible {
    visibility: visible;
  }
}

.floating-buttons-box {
  background-color: transparent;
  position: sticky;
  width: 100%;
  bottom: -60px;
  transition: 0.5s;
  bottom: -1px;
}
