$primary-color: #892140;
$primary-light-color: #c89eab;
$secondary-color: #000;

$text-primary-color: #333333;
$text-secondary-color: #fff;

$background-light-color: #fff;
$background-dark-color: #000;

$typo-h1-font-size: 32px;
$typo-h1-font-weight: 700;

$typo-font-size: 12px;
$typo-font-weight: 400;

:export {
  primaryColor: $primary-color;
  primaryLightColor: $primary-light-color;
  secondaryColor: $secondary-color;

  textPrimaryColor: $text-primary-color;
  textSecondaryColor: $text-secondary-color;

  backgroundLightColor: $background-light-color;
  backgroudDarkColor: $background-dark-color;

  typoH1fontSize: $typo-h1-font-size;
  typoH1fontWeight: $typo-h1-font-weight;
}
