@import "../../variables.module.scss";

.sub-title {
  padding: 0 0 5px 0;
  border-bottom: 2px solid $primary-color;
  font-family: var(--font-noto-sans);
}

.divider {
  border-bottom: 2px solid $secondary-color;
  padding-bottom: 2px;
}
