@import "../../variables.module.scss";

.point-screen {
  .page-header {
    .point-lists {
      border-bottom: 2px solid $text-primary-color;

      .card-description-label {
        width: 100px !important;
      }
    }

    .card-description.small {
      .card-description-content {
        padding: 7px 26px;
      }
      .card-description-label {
        min-height: 50px !important;
      }
    }
  }
  .list-points {
    .card-description-content {
      font-weight: 400 !important;
      line-height: 24px;
    }
  }
}
