.background-wrapper {
  width: 100%;
  // aspect-ratio: 0.524;
  flex-shrink: 0;
  position: relative;
  background-repeat: no-repeat;

  background-position: center;
  margin: 0;
  padding: 0;

  div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: normal;

    h1 {
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
      text-align: center;
      font-family: Noto Sans JP;
    }
  }
}
