.slider-background {
  .slick-arrow {
    z-index: 1;
    width: 60px;
    height: 60px;
    bottom: -25px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 60px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-dots {
    z-index: 1;

    li {
      margin: 0;
    }

    li button:before {
      font-size: 12px;
    }
  }
}
