@import "../../variables.module.scss";

.project-card-container {
  background-color: $card-background-primary;

  .project-card-image {
    aspect-ratio: 1.49700598802;
    width: 100%;
  }

  .project-card-name {
    border-bottom: 2px solid $text-primary-color;
  }

  .project-card-description {
    min-height: 33.333px;

    .project-card-description-label {
      width: 75px;
      background-color: $background-dark-color;
      color: $text-secondary-color;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .project-card-description-content {
      width: 75px;
      display: flex;
      align-items: center;
    }
  }

  .tag {
    background-color: $primary-color;
    color: $text-secondary-color;
  }
}
